html {
    font-family: sans-serif;
}

form {
    width: 50%;
}

.question-1 select {
    width: 100%;
}

.question-2__input {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.question-2__input input {
    margin: 0 10px 0 0;
}

.question-3__input {
    display: flex;
    margin: 0 -4px;
}

.question-3 h3 span {
    color: red;
}

.question-3__input input {
    width: calc(100% / 2 - 8px);
    margin: 0 4px;
}

.question-4 {
    width: 100%;
}
.question-4__input input {
    width: calc(458px - 8px);
    margin-right: -8px;
}

.question-5__input {
    display: flex;
    margin: 0 -4px 30px -4px;
}

.question-5__input input {
    width: calc(100% - 8px);
    margin: 0 4px;
}

